<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2 my-3">
    <p>Campground details</p>
    <h1><%= campground.title %> </h1>
    <div class="card">
      <img src="<%= campground.image %>" class="card-img-top" alt="...">
      <div class="card-body">
          <h5><b><%= campground.title %></b></h5>
          <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Location: <%= campground.location %></li>
          <li class="list-group-item">Price: <%= campground.price %> €/night</li>
          <li class="list-group-item text-muted">Campground ID: <%= id %></li>
      </ul>
      <div class="card-body">
        <form class="d-inline" action="/campgrounds/<%= id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger my-3">DELETE</button>
        </form>
        <a href="http://localhost:3000/campgrounds/<%= id %>/edit" class="card-link btn btn-info my-3">Edit</a>
      </div>
      <div class="card-footer text-muted">
        <a href="http://localhost:3000/campgrounds" class="card-link">Back to index</a>
      </div>
    </div>
  </div>
</div>